[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tejashri-ghatage
[access "refs/for/refs/*"]
	read = group user/tejashri-ghatage
	push = group user/tejashri-ghatage
	label-Code-Review = -2..+2 group user/tejashri-ghatage
	label-Verified = -1..+1 group user/tejashri-ghatage
	rebase = group user/tejashri-ghatage
	removeReviewer = group user/tejashri-ghatage
	submit = group user/tejashri-ghatage
[access "refs/heads/*"]
	read = group user/tejashri-ghatage
	create = group user/tejashri-ghatage
	push = +force group user/tejashri-ghatage
	pushMerge = group user/tejashri-ghatage
[access "refs/tags/*"]
	push = group user/tejashri-ghatage
	push = +force group user/tejashri-ghatage
